<div>
    <form class="comment-form">
        <h3>Leave A Comment</h3>

        <div class="comment-form-content">
            <input class="form-input" type="text" placeholder="comment" id="comment-input"/>
            <input type="hidden" id="user_id" value="{{user.id}}" />
            <input type="hidden" id="asteroid_id" value="{{asteroid.id}}" />
            <button class="btn comment-btn" type="submit">submit</button>
        </div>
    </form>

    <div class="comment-div">
        {{#each this}}
            <div class="comment-container">
                <p class="comment-header">Posted by {{ user.username }} on {{ new_date createdAt }}</p>
                <p class="comment-content">{{ content }}</p>
            </div>
        {{/each}}    
    </div>
</div>