<div class="col-4">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        Asteroid Name:
        {{asteroid.name}}
      </h3>

      <p>
        Miss Distance:
        {{asteroid.miss_distance}}
      </p>

      <p>
        Hazardous:
        {{asteroid.hazardous}}
      </p>

      <p>
        Diameter:
        {{asteroid.diameter}}
      </p>

      <p>
        Close Date:
        {{asteroid.close_date}}
      </p>

    </div>
  </div>
</div>

<div class="comment-partial">
  {{> comment}}
</div>