<div class="row">  
  <div class="col-12 col-sm-5 ast-container">
    <div class="card-body">
      <h3 class="card-title">
        Asteroid Name:
        {{asteroid.name}}
      </h3>

      <div class="card-content">
        
        <p>
          Speed:
          {{asteroid.speed}} mph
        </p>
        
        <p>
          Miss Distance:
          {{asteroid.miss_distance}} LD
        </p>

        <p>
          Hazardous:
          {{asteroid.hazardous}}
        </p>

        <p>
          Diameter:
          {{asteroid.diameter}} ft
        </p>

        <p>
          Close Date:
          {{new_date asteroid.close_date}}
        </p>
      </div>

    </div>
  </div>


  <div class="col-0 col-sm-1"></div>

  <div class="comment-partial col-12 col-sm-6">
    {{> comment comments=asteroid.comments asteroid=asteroid}}
  </div>
</div>
<script src="/js/comment.js"></script>
